@{
	ViewData["Title"] = "Home Page";
}

<section class="hero  text-black text-center h-100">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 text-lg-start">
				<h1 class="fw-bold display-4">Effortless Inventory Management</h1>
				<p class="lead mt-3">Track, manage, and optimize your inventory with ease. Keep your business running smoothly with real-time insights and automated processes.</p>
				<button type="button" class="btn btn-dark">Get Started</button>
			</div>
			<div class="col-lg-6 text-center mt-4 mt-lg-0">
				<img src="https://mediasoftbd.com/wp-content/uploads/2023/10/Inventory-management-system-mediasoft.png"
					 alt="Inventory Management" class="img-fluid rounded">
			</div>
		</div>
	</div>
</section>

